@font-face {
    font-family: "Gotham";
    src: url(fonts/Gotham.ttf);
}

@font-face {
    font-family: "VHS";
    src: url(fonts/vhs-gothic.ttf);
}

@font-face {
    font-family: "Stronger";
    src: url(fonts/BelieveStrongerPersonalUseOnlyRegular-aYdXK.ttf);
}

@font-face {
    font-family: "StarShield";
    src: url(fonts/StarShieldV2-9M52K.ttf);
}

* {
    font-family: "VHS";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.backgroundignore {
    width: 100%;
    height: 100%;
    background-image: url(images/inkling.jpg);
    filter: blur(45px);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.onboarding {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
}

.login-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.main-login-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-input {
    box-sizing: border-box;

    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    height: 4.5vh;
}

.custom-button {
    width: 90%;
    height: 4.5vh;
    border-radius: 10px;

    background: black;
    cursor: pointer;
}


.login-button {
    color: white;

    margin-top: 5px;
}

.custom-button:hover {
    scale: 1.01;
    transition: 0.2s;
}

.planora {
    width: 75px;
    height: 75px;
    background-image: url(icons/planora.png);
    background-size: cover;
    background-position: center;
}

.create-button {
    background: blue;
    color: white;
}

.custom-link {
    font-size: 12px;
    width: 90%;
    color: gray;
}

.forgot-link {
    margin-top: 15px;
}

.forgot-link:hover {
    color: blue;
    transition: 0.2s;
}

.custom-label {
    width: 90%;
    font-size: 12px;
}

.password-label {
    margin-top: 15px;
}

.pages {
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;

    transition: transform 0.5s cubic-bezier(.77, 0, .18, 1);
}

.pageone-title {
    margin-top: clamp(30px, 8vh, 100px);
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 100%;
    height: 25vh;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Gotham";

    width: 12vh;
    height: 18vh;

    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px black;

    top: 50%;
    left: 50%;

    transition: transform 0.2s ease;
}

.c-one {
    transform: translate(calc(-50% - 12vh), -50%) rotate(-10deg);
    z-index: 2;
}

.c-two {
    z-index: 1;
    transform: translate(-50%, -60%);
}

.c-three {
    z-index: 2;
    transform: translate(calc(-50% + 12vh), -50%) rotate(10deg);
}

.c-one:hover {
    transform: translate(calc(-50% - 12vh), calc(-50% - 5px)) rotate(-10deg);
}

.c-two:hover {
    transform: translate(-50%, calc(-50% - 22px));
}

.c-three:hover {
    transform: translate(calc(-50% + 12vh), calc(-50% - 5px)) rotate(10deg);
}

.card:hover {
    background: linear-gradient(to top, black, rgb(46, 46, 46));
    color: white;
    transition: 0.2s;
}

.ace {
    width: 19vh;
    height: 19vh;
    margin-top: 32vh;
    background-image: url(icons/spade.png);
    background-position: center;
    background-size: cover;
    rotate: 180deg;
}

.title {
    width: 100%;
    height: auto;

    font-family: "Gotham";
    text-align: center;

    font-size: clamp(70px, 18vw, 120px);
    line-height: 0.9;
}

.description {
    width: 100%;

    text-align: center;
    font-size: clamp(9px, 4vw, 15px);
}

.bottom-description {
    color: gray;
    margin-top: 25px;
    font-size: clamp(6px, 4vw, 12px);
}

.main-login-description {
    margin-bottom: 90px;
}

.page {
    min-width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;
}

.dots {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: black;

    transition:
        width 0.3s ease,
        background 0.3s ease;
}

.dot.active {
    width: 24px;

    border-radius: 10px;

    background: black;
}

#nextButton {
    position: relative;
    overflow: hidden;

    border: none;
    color: white;
    background: black;
    cursor: pointer;
    width: 90%;
    height: 4vh;
    border-radius: 90px;

    font-size: 14px;
}

#nextButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;

    width: 50%;
    height: 100%;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
    );

    transform: skewX(-20deg);
}

#nextButton:hover::before {
    animation: shine 1s ease;
}

@keyframes shine {
    from {
        left: -100%;
    }

    to {
        left: 150%;
    }
}

.random-number {
    font-size: 2550px;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) rotate(90deg);
    font-family: "StarShield"; 
    font-weight: bold;
    
    position: absolute;
    opacity: 0.125;
    z-index: -5;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

@media (max-width: 600px) {
    .random-number {
        font-size: 750px;
    }
}

.footer-cards {
    position: absolute;

    left: 50%;
    bottom: -10%;

    width: 100%;
    height: 280px;

    transform: translateX(-50%);

    pointer-events: none;
}

.footer-card {
    position: absolute;

    width: 180px;
    height: 250px;

    left: 50%;
    top: 50%;

    border: 2px solid black;
    border-radius: 20px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin: center bottom;

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    font-family: "Gotham";
    font-size: 35px;
}

.card-center {
    z-index: 3;

    animation: centerFloat 4s ease-in-out infinite;
}


.card-left {
    z-index: 2;

    animation: leftFloat 4s ease-in-out infinite;
}

.card-right {
    z-index: 2;

    animation: rightFloat 4s ease-in-out infinite;
}

@keyframes centerFloat {

    0%, 100% {
        transform:
            translate(-50%, -50%)
            translateY(0)
            rotate(0deg);
    }

    50% {
        transform:
            translate(-50%, -50%)
            translateY(-8px)
            rotate(0deg);
    }

}


@keyframes leftFloat {

    0%, 100% {
        transform:
            translate(calc(-50% - 100px), -50%)
            translateY(0)
            rotate(-12deg);
    }

    50% {
        transform:
            translate(calc(-50% - 100px), -50%)
            translateY(-8px)
            rotate(-14deg);
    }

}


@keyframes rightFloat {

    0%, 100% {
        transform:
            translate(calc(-50% + 100px), -50%)
            translateY(0)
            rotate(12deg);
    }

    50% {
        transform:
            translate(calc(-50% + 100px), -50%)
            translateY(-8px)
            rotate(14deg);
    }

}
